@media screen and (min-width: 1401px) {
    .carouselCards {
        display: none;
    }

    
}

@media screen and (max-width: 1400px) {
    .carouselCards {
        display: block;
    }

    .fourcards {
        display: none !important;
    }
}