.carousel-width {
    width: 90%;
    margin: auto;
}





.react-multiple-carousel__arrow--left {
    background-color: black !important;
    color: white !important;
    

}

.react-multiple-carousel__arrow--right {
    background-color: black !important;
    color: white !important;
    


}