

#navbarScrolltwo{
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    z-index: 99;
    
}

#navnegra {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    
}

#scheduleButton {
    font-size: 17px;
    

}

#btn:hover {
  
    color: #656565 !important;
}




@media screen and (max-width: 768px) {
    #navbarScroll{
        position: absolute;
        top: 100%; 
        left: 0;
        width: 100%;
        z-index: 99;
        padding-left:25px;
        
    }

    #scheduleButton {
        display: none;
       

    };

   

    
}



@media screen and (max-width: 1400px) {
  

        #navbarScrolltwo {
            position: fixed;
            top: 0; 
            left: 0;
            width: 100%;
            z-index: 99;
            padding-left:25px;
        }

        #navnegra {
            display: none;
        }
    
} 


