@media screen and (max-width: 991px) {
    #footer {
        display: none !important;
    }

        #mobilefooter {
        display: block !important;
    }
}

@media screen and (min-width: 991px) {
   #mobilefooter {
        display: none !important;
    }
}