* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    font-size: 16px;
    font-family: "Arial";
    letter-spacing: 0.5px;
}

.firstphoto {
    width: 100%;
    padding: 2%;
    height: 350px;
    object-fit: cover;
    border-radius: 25px;
    background: none;
}


#lineaservices {
    
    background: rgb(2, 0, 36);
        background: linear-gradient(90deg, rgba(2, 0, 36, 0) 2%, #0099ff 50%, rgba(9, 121, 90, 0) 98%);
    
}

.carousel-control-next-icon {
    display: none;
}

.carousel-control-prev-icon {
    display: none;
}

.firstphotoanother {
    
    margin-top: 10px;
    width: 100%;
    padding: 2%;
    height: 300px;
    object-fit: cover;
    border: none;
        background: none;
        cursor: pointer;
}



.table td {
    padding: 3px !important; 
    
}

div.before-after-slider img {
    border-radius: 15px;
    
    
}


.cardsservices:hover {
    border: 1px solid #ffffff;
}
.cardsservicesanother:hover {
    border: 1px solid #ffffff;
}



.react-multiple-carousel__arrow--left {
    background-color: black !important;
    color: white !important;
    
    
}

.react-multiple-carousel__arrow--right {
    background-color: black !important;
    color: white !important;
    
    
}



.divcompare {
    height: 100%;
        width: 100%;
       
        
}

.divcomparefirst {
    width: 100%;
    height: 100%;
       
        
}


.image-container {
    position: relative;
}

.image-container .price-tag {
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: rgba(255, 255, 255, 0.88);
   
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}



.image-container .price-tag::before {
    content: "$";
    font-size: 12px;
    margin-right: 2px;
}

@font-face {
    font-family: "Arial";
    src: url("../src/assets/fonts/ARIAL.TTF") format("truetype");
}




@media screen and (max-width: 768px) {
    
    .react-multiple-carousel__arrow--left {
        display: none !important;
    }

    .react-multiple-carousel__arrow--right {
        display: none !important;
    }

}



#portfoliocard {
transition: width 0.3s ease-in-out, margin 0.3s ease-in-out;
}

#portfoliocarousel {
    transition: width 0.3s ease-in-out;
    
}



