* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    font-size: 16px;
    font-family: "Arial";
    letter-spacing: 0.5px;
}



.firstphoto {
    width: 100%;
    padding: 2%;
    height: 350px;
    object-fit: cover;
    border-radius: 25px;
    background: none;
}


#lineaservices {
    
    background: rgb(2, 0, 36);
        background: linear-gradient(90deg, rgba(2, 0, 36, 0) 2%, #000000 50%, rgba(9, 121, 90, 0) 98%);
    
}


.firstphotoanother {
    
    margin-top: 10px;
    width: 100%;
    padding: 2%;
    height: 300px;
    object-fit: cover;
    border: none;
        background: none;
        cursor: pointer;
}



.table td {
    padding: 3px !important; 
    
}





@font-face {
    font-family: "Arial";
    src: url("../src/assets/fonts/ARIAL.TTF") format("truetype");
}




@media screen and (max-width: 768px) {
    
    .react-multiple-carousel__arrow--left {
        display: none !important;
    }

    .react-multiple-carousel__arrow--right {
        display: none !important;
    }

}





