@media screen and (max-width: 1536px) {
    #listings {
        display: none !important;
    }

    #listingsmobile {
        display: block !important;
    }
    
}

@media screen and (min-width: 1536px) {
    #listings {
        display: block !important;
    }

    #listingsmobile {
        display: none !important;
    }
    
}